@page
@using YamlDotNet.Core.Tokens
@using MyCv.Database
@model mycv.Pages.Download.Admin

@if(!ModelState.IsValid)
{
    <div class="error">
        Token Daten Invalid!
    </div>
}

<form method="post" asp-page-handler="add">
    <input type="hidden" asp-for="Jwt" />
    User
    <input asp-for="DownloadToken.User"/>
    Token
    <input asp-for="DownloadToken.Token"/>
    Description
    <input asp-for="DownloadToken.Description"/>
    <input type="submit" value="Neuer Token"/>
</form>

All Tokens:
<ul>
    @foreach (var token in Model.Tokens)
    {
        <li>@token.User | @token.UsageCount | IsExpired? @token.IsExpired()</li>
    }
</ul>